<ol>
  <li class="logger"><%= render 'task_form' %></li>
  <li class="logger"><%= render 'task_form' %></li>
  <li class="logger"><%= render 'task_form' %></li>
  <li class="logger"><%= render 'task_form' %></li>
  <li class="logger"><%= render 'task_form' %></li>
  <li class="logger"><%= render 'task_form' %></li>
  <li class="logger"><%= render 'task_form' %></li>
  <li class="logger"><%= render 'task_form' %></li>
  <li class="logger"><%= render 'task_form' %></li>
  <li class="logger"><%= render 'task_form' %></li>
  <li class="logger"><%= render 'task_form' %></li>
  <li class="logger"><%= render 'task_form' %></li>

</ol>
